---
import socials from "src/refs/socials";
import Layout from '../layouts/Layout.astro';
import { Button } from "~/components/button";
import { Paralax } from "~/components/paralax";
import HeaderImage from "~/assets/bg-2.jpeg";
---

<Layout title="The DeadSafe">
    <main>
        <Paralax img={HeaderImage.src}>
            <div class="flex flex-col justify-center gap-4 h-full group">
                <div class="bg-dark/30 text-4xl p-4 group-hover:bg-dark/70 transition w-full text-center">
                    Dead are coming...
                </div>
                <div class="bg-dark/30 text-4xl p-4 group-hover:bg-dark/70 transition w-full text-center">
                    The Vault is waiting.
                </div>
                <div class="flex justify-center pt-16">
                    <Button className="text-2xl mx-4" to={socials.discordLink}>
                        Join the Discord Server
                    </Button>
                </div>
            </div>
        </Paralax>
    </main>
</Layout>

<style>

</style>
